[data-md-color-scheme='astecas'] {
    --md-primary-fg-color: #422682;
    --md-accent-fg-color: #44CCCC;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
   display: table;
}

.details-table th:first-child {
  width: auto;
}

.md-typeset__table table thead th:first-child {
  width: 300px;
}

ins code {
  color: #422682 !important;
}

a.md-nav__link--active {
  border-left: 4px solid #422682;
  padding-left: 4px;
  font-weight: bold;
}

a.md-nav__link--active:hover {
  border-color: #44CCCC;
}

span.md-header-nav__topic, span.md-ellipsis {
  position: static;
  display: inline;
}

.md-header-nav__ellipsis span:nth-of-type(2) {
  display: none;
}

#version-selector select {
  color: white;
	font-family: inherit;
	background-color: transparent;
  width: 100px;
  padding: 5px 5px 5px 0;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid white;
}

#version-selector select:focus {
	outline: none;
	border-bottom: 1px solid white;
}

#version-selector select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}

#version-selector select option {
  color: black;
}
